<h1>New Task</h1>
<%= form_with model: @task, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :completed %><br>
    <%= form.check_box :completed %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to "Back to List", tasks_path %>
